<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <h1>Sentiment Analysis</h1>
    <form action="/analyze" method="post">
      <label for="user_text">Enter Text:</label>
      <input type="text" name="user_text" required />
      <button type="submit">Analyze</button>
    </form>

    <form action="/analyze_csv" method="post" enctype="multipart/form-data">
      <label for="csv_file">Upload CSV File:</label>
      <input type="file" name="csv_file" accept=".csv" required />
      <button type="submit">Analyze CSV</button>
    </form>
    <br />
  </body>
</html>
